@font-face {
    font-family: 'MS Sans Serif';
    src: url('fonts/MS Sans Serif.ttf');
}

* {
    font-family: 'MS Sans Serif';
}

.app {
    background-color: #008080;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.app .game {
    transform: scale(2);
}

.window {
    padding: 3px;
    background-color: #BFBFBF;

    border-width: 3px;
    border-style: solid;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: #808080;
    border-right-color: #808080; 

    box-shadow:
         -1px -1px 0 1px #BFBFBF, 
         0px 0px 0 2px black;
}

.window .title {
    padding: 4px 3px;
    background: linear-gradient(to left, #1085D2, #00007B);
    color: white;
    margin-bottom: 3px; 
}

@media screen and (max-width: 768px) {
    .app .game {
        transform: scale(1);
    }
}